.container,
.menuNavbar {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 4vh;
	height: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.brand {
	height: 100%;
}

.brandContainer,
.backContainer {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}

.logo {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo img {
	height: 100%;
	width: auto;
}

.title {
	margin-left: 1vw;
	font-size: 4vh;
	font-family: 'Gilroy';
	color: #efefef;
	text-transform: uppercase;
}

.options {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.cartContainer {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.cartIcon {
	height: 90%;
}

.hamburgerContainer {
	cursor: pointer;
	margin-left: 2vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.hamburgerIcon {
	height: 70%;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: #ededed;
}

.menuNavbar {
	justify-content: flex-end;
	align-items: center;
}

.cross {
	height: 75%;
	cursor: pointer;
}

.menuContent {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.link {
	color: #000;
	text-decoration: none;
	font-family: 'AvenirNextBold';
	text-align: center;
	font-size: 4vh;
	text-transform: uppercase;
}

.backContainer {
	text-decoration: none;
}

.back {
	margin-left: 1vw;
	color: #ededed;
	font-size: 3vh;
	font-family: 'GilroyExtraBold';
}
